
.not{
  position: absolute;
  float: right;
}

.logo_area{
  position: absolute;
  margin-top: 20px;
  margin-left: 20px; 
}


.hero img{
  position: absolute;
  width: 360px;
  margin-top: 45px;
  margin-left: 128px;
  max-width: 100%;
}


@media (max-width: 300px) {
  .hero img{
  width: 100px;
  }
  }

@media (max-width: 300px) {
 .hero img{
  width: 100px;
  height: 60px;
  }
  }